@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower');

:root {
    --trans: all 300ms ease-in-out;
    --radius: 15px;
    --tshadow: 5px 5px 5px #bbb;

    --title: 'Gloria Hallelujah', cursive;
    --text: 'Indie Flower', cursive;
    --namecolor: #b6b6c9f5;
    --win: #1f8566;
    --lose: #8d3c3c;
    --tie: #d3d3d3;
}

body, html {
    box-sizing: border-box;
    height: 100vh;
    font-family: var(--text);
    background-color: #ffffff;
}

p {
    margin-bottom: 0;
}


.container {
    min-width: 320px;
}


.scrollbar::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px #0000004d; */
	/* border-radius: 10px; */
	background-color: #00000000;
}

.scrollbar::-webkit-scrollbar {
	width: 6px;
	background-color: #00000000;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #bbb;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #00000000; 
}



/* ///////////////////// */
/* function only classes */
/* ///////////////////// */
.disappear {
    display: none;
}

.grayscale {
    filter: grayscale(100%)
}

.win-lose {
    font-weight: bold;
}

/* /////////////////// */
/* /// Box Styling /// */
/* /////////////////// */
.player-score,
.name-request,
.message-box {
    background-color: #333;
    border: 5px solid #fff;
    box-shadow: 0 0 2px #000;
    color: #fff;
}


/* ///////////////////// */
/* // Title and Score // */
/* ///////////////////// */
.top {
    height: 170px;
}
.title {
    text-align: center;
    font-size: 60px;
    font-family: var(--title);
    text-shadow: var(--tshadow);
}

.player-score {
    width: 250px;
    margin: 20px auto 10px auto;
    text-align: center;
}

.player-score h3 {
    font-size: 50px;
}

.view-count {
    position: absolute;
    top: 0;
}



/* ////////////////////// */
/* //// Game section //// */
/* ////////////////////// */
.game-section {
    margin: 0 auto;
    position: relative;
    height: calc(100vh - 170px);
}

.player-left,
.player-right {
    box-sizing: border-box;
    position: relative;
}

.player-left h2,
.player-right h2 {
    font-size: 40px;
    text-align: center;
}

#left-img,
#static-img {
    width: 80px;
}

#left-img .img-fluid,
#static-img .img-fluid {
    padding: 8px;
}

#static-img {
    margin-left: calc(100% - 90px);
}

#left-img .img-fluid:hover {
    background-color: #c2c2c29f;
    border-radius: 20%;
    box-shadow: 0 0 10px #c2c2c29f;
    cursor: pointer;
}

/* //////////////////// */
/* /// Center Field /// */
/* //////////////////// */
.center-field {
    position: absolute;
    top: 70px;
    left: 50%;
    width: 500px;
    height: 250px;
    margin-left: -250px;
    background-color: #c2c2c29f;
    border-radius: 50%;
}

#left-img-choice,
#right-img-choice {
    width: 120px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
}

#left-img-choice {
    right: 50px;
    z-index: 99;
}

#right-img-choice {
    left: 50px;
    z-index: 99;
}


/* //////////////////////// */
/* /// Input and Submit /// */
/* //////////////////////// */
#name-input,
#message-input {
    padding: 5px 10px;
    border: none;
    border-bottom: 2px solid #bbb;
    border-bottom-left-radius: 10px;
    background-color: #00000000;
    color: #fff;
    letter-spacing: 1px;
}

#submit-msg,
#submit-name {
    position: absolute;
    bottom: 5px;
    background-color: #00000000;
    color: #fff;
    border: none;
    border-bottom-right-radius: 10px;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    transition: var(--trans);
}

#submit-msg:hover,
#submit-name:hover { 
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 3px #fff;
}

#submit-msg:active,
#submit-name:active {
    box-shadow: 0 0 3px inset #fff;
}

#message-input:focus,
#name-input:focus,
#submit-msg:focus,
#submit-name:focus {
    outline:0;
}

#message-input:focus,
#name-input:focus {
    border-bottom: 2px solid #fff;
}

/* //////////////////// */
/* ///// Name Box ///// */
/* //////////////////// */
.name-request {
    position: absolute;
    width: 50%;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -25%;
}

.name-request form {
    font-size: 25px;
    text-align: center;
}

#name-input-lable {
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 1px;
    font-size: 25px;
}

#name-input {
    width: calc(100% - 30px);
}

#submit-name {
    left: 5px;
    width: calc(100% - 10px);
    padding: 8px;
}

/* /////////////////// */
/* /// Message Box /// */
/* /////////////////// */
.message-box {
    width: 100%;
    min-height: 210px;
    height: calc(100vh - 550px);
    margin: 10px auto;
    position: relative;
}

#message-input {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 75%;
} 

#message-input::placeholder {
    color: #bbb;
}

#submit-msg {
    right: 5px;
    width: 21%;
    padding: 5px;
}

.msg {
    width: 100%;
    height: 85%;
    overflow: auto;
    margin-bottom: 40px;
    padding: 5px;
}

.msg-name,
.msg-other-name {
    font-weight: bold;
    text-decoration: underline;
}

.msg-name {
    color: #b1e9ff;
}

.msg-other-name {
    color: #ffaaaa;
}

.mymsg,
.othermsg,
.logoff {
    padding: 5px;
}

.mymsg {
    margin-right: 70px;
}

.othermsg {
    margin-left: 70px;
    text-align: right;
}

.logoff p {
    text-align: center;
    color: #bbb;
}

.mymsg p,
.othermsg p {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
}


@media (max-width: 940px) {
    .title {
        font-size: 40px;
        line-height: 60px;
    }

    .player-score {
        width: 180px;
        margin: 10px auto;
    }

    .player-score h3 {
        font-size: 35px;
    }

    .player-left h2,
    .player-right h2 {
        font-size: 25px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 35px;
    }

    .player-score {
        width: 140px;
        margin: 10px auto;
    }

    .player-score h3 {
        font-size: 30px;
    }

    .player-left h2,
    .player-right h2 {
        font-size: 24px;
        text-align: center;
    }

    .center-field {
        top: 70px;
        left: 50%;
        width: 300px;
        height: 200px;
        margin-left: -150px;
    }
    
    #left-img-choice,
    #right-img-choice {
        width: 80px;
        margin-top: -50px;
    }
    
    #left-img-choice {
        right: 20px;
    }
    
    #right-img-choice {
        left: 20px;
    }

    .name-request {
        width: 374px;
        height: 200px;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -187px;
    }
}

@media (max-width: 527px) {
    .col-6 {
        padding: 0;
    }

    #left-img .img-fluid {
        width: 70PX;
    }

    #static-img {
        display: none;
    }

    .center-field {
        display: none;
    }

    #left-img-choice {
        right: -20px;
    }
    
    #right-img-choice {
        left: auto;
        right: 30px;
    }

    .container {
        padding: 0;
    }

    .name-request {
        width: 100%;
        height: 200px;
        top: 50%;
        left: auto;
        margin-top: -100px;
        margin-left: 0px;
    }

    #name-input-lable {
        font-size: 20px;
    }

    #name-input {
        font-size: 20px;
        letter-spacing: .5px;
    }
}

@media (max-width: 375px) {
    #left-img-choice {
        display: none;
    }

    .title {
        font-size: 30px;
    }

    .mymsg p, .othermsg p, #message-input {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .mymsg, .othermsg, .logoff {
        padding: 2px;
    }

    #submit-msg {
        bottom: 2px;
        right: 2px;
        padding: 2px;
        font-size: 15px;
        letter-spacing: 1px;
    }
}